// padding
//-----------------------------------------------------
$basePaddingLeft:           24;
$basePaddingRight:          24;


// 元素上下间距
//-----------------------------------------------------
$baseGap:                   40;


// 行高默认值
//-----------------------------------------------------
$baseLineHeight:            1.5;