// z-index
//-----------------------------------------------------
$dropdownZIndex:            1000;
$fixedBarZIndex:            1010;
$tooltipZIndex:             1020;
$alertZIndex:               1030;
$modalZIndex:               1100;